* {
  box-sizing: border-box;
}

#root {
  padding: 50px;
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text] {
  padding: 10px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid #eee;
  border-top-color: #ddd;
}

button {
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #eee;
  border-top-color: #ddd;
}
