.item {
  text-decoration: none;
  cursor: pointer;
}

.item.completed {
  text-decoration: line-through;
  cursor: default;
}

.item:hover {
  background: #fbfbfb;
}

.item {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  border-bottom: 1px dotted #eee;
}
